{% extends "asudreCDM14Bundle::layout.html.twig" %}

{% block title %}{{ parent() }}Classement des joueurs{% endblock %}

{% block body %}
	<div id="contenu">
				
		{% block div %}
	    {% endblock %}

	</div>
{% endblock %}