<!DOCTYPE>
<html>
	<body>
		Hi,
		<br/><br/>
		You've been invited by <b>{{ invite }}</b> on the web site haveYouBet.com to play for the Brazil World Cup 2014.
		<br/>
		This competition starts on June 12th 2014 but you can join anytime.
		<br/>
		To subscribe, follow this link :
		<br/><br/>
			<a href="{{ lien }}">{{ lien }}</a>
		<br/><br/>
		See you soon,
		<br/><br/>
		The admin
	</body>
</html>