<!DOCTYPE a PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		Bonjour,
		<br/><br/>
		Vous avez été invités par <b>{{ invite }}</b> sur le site de paris en ligne pour jouer pour la coupe du Monde du Brésil.
		<br/>
		Cette compétition débute le 12 Juin 2014 mais vous pouvez vous joindre à tout moment.
		<br/>
		Pour vous inscrire, veuillez suivre ce lien :
		<br/><br/>
			<a href="{{ lien }}">{{ lien }}</a>
		<br/><br/>
		Cordialement,
		<br/><br/>
		L'administrateur du site
	</body>
</html>